.sidebar {
  background-color: #21252b;
  color: #9da5b4;
  overflow: auto;
}

.listGroupItem {
  color: #9da5b4;
  border-top: 1px solid #181a1f;
  font-size: 2px;
}

.label {
  font-size: 11px;
}

.checkbox {
  position: inherit;
}
