.sidebar {
  background-color: #21252b;
  color: #9da5b4;
  height: 100%;
}

.border {
  border-bottom: 1px solid #181a1f;
}

.listGroupItem {
  color: #9da5b4;
  border-top: 1px solid #181a1f;
}

.label {
  font-size: 11px;
  line-height: 17px;
  width: 100%;
  display: block;
}

.checkbox {
  top: -1px;
  width: 100%;
}

.scroll {
  width: inherit;
  overflow: scroll;
  display: block;
  position: fixed;
  top: 52px;
  bottom: 50%;
}
