.playing {
  background-color: #116cd6;
}

.thead {
  background-color: #21252b;
  color: #9da5b4;
}

.th {
  border-top: 1px solid #181a1f;
  border-bottom: 1px solid #181a1f;
  border-right: 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.title {
  position: relative;
  top: 2px;
  float: left;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.cancel {
  cursor: pointer;
  font-size: 14px;
}

.cancel:hover::before {
  font-size: 14px;
  content: '\e815';
}

.td {
  cursor: pointer;
}

.td:hover {
  background-color: #9da5b4;
  color: #21252b;
}

.odd {
  background-color: #21252b;
}

.even {
  background-color: rgb(40, 44, 52);
}
