.topBar {
  height: 53px;
  background-color: #21252b;
  color: #9da5b4;
  border-bottom: 1px solid #181a1f;
}

.playing {
  position: relative;
  top: 12px;
  font-size: 18px;
  margin-left: 14px;
  float: left;
}

.playArea {
  margin-right: 50px;
  float: right;
}

.play {
  font-size: 32px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.fast {
  font-size: 26px;
  cursor: pointer;
}

.button {
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
}

.iconActive:before {
  color: #21252b;
  background-color: #9da5b4;
  width: 32px;
  border-radius: 5px;
  text-align: center;
}
