.table {
  position: relative;
  top: 52px;
}

.thead {
  background-color: #21252b;
  color: #9da5b4;
}

.th {
  border-top: 1px solid #181a1f;
  border-bottom: 1px solid #181a1f;
  border-right: 0px;
}

.openCloseIcon {
  float: right;
  font-size: 14px;
  cursor: pointer;
}

.right {
  float: right;
}

.left {
  float: left;
}

.plaulistTitle {
  font-size: 12px;
  position: relative;
  top: 2px;
}
